{% extends 'base.html.twig' %}
{% block body %}
    <h1>Symfony</h1>
    <p>Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP.
        Il fournit des fonctionnalités modulables et adaptables qui
        permettent de faciliter et d’accélérer le développement d'un site web.</p>
{% endblock %}